#app4 {
  border: 1px solid red;
  width: 50vw;
  height: 50vh;
}
@keyframes change {
  0% {
    background-color: red;
  }
  100% {
    background-color: green;
  }
}
#app4 .circle {
  border: 1px solid red;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
}
#app4 .circle.active {
  animation: change 1s infinite linear;
}
